@mixin backgroundGlass($bg) {
    background-image: $bg ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(1.6px);
}

@mixin backgroundGradient($bgi) {
    background-image: $bgi;
}

@mixin backgroundGlassWithGradient($bgi) {
    background-image: $bgi;
}