@use "./background" as bg;
@use "./fonts" as fonts;


// ************ Glass Background ******************
.header_glassBg {
     background-color: rgba(17,19,27,255);
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
}

.networks_glassBg,
.mobile_glassBg
{
    @include bg.backgroundGlass(rgba(91, 91, 87, 0.5));
}

.header_link:hover {
    //  @include bg.backgroundGlass(rgba(18, 18, 15, 0.5));
     background-color: #fff;
     color: rgba(18, 18, 15, 0.5);
}

.assets_glassBg {
     @include bg.backgroundGlass(rgba(67, 67, 60, 0.293));
}

.input_glassBg {
   @include bg.backgroundGlass(rgba(28, 51, 109, 0.5));
}

.input_network_glass {
     @include bg.backgroundGlass(rgba(23,46,103,255));
}

.stats_longCard_glass, 
.stats_mediumCard_glass {
    background-image: linear-gradient(0.5turn, rgba(9,13,21,255) 15%, rgba(15,22,56,255));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.6px);
}

.wallet_connectBtn_glass {
    @include bg.backgroundGradient(linear-gradient(0.3turn, rgba(19,29,56,255), rgba(47,61,80,255)));
}

.wallet_connectBtn_top_glass {
     @include bg.backgroundGradient(linear-gradient(0.3turn, rgba(44,22,36,255), rgba(47,61,80,255),  rgba(44,22,36,255), rgba(47,61,80,255), rgba(44,22,36,255)));
}

.term_close_btn_glass {
     @include bg.backgroundGradient(linear-gradient(0.5turn, rgba(42,26,140,255), rgba(66,16,132,255)));
}

.term_popup_glassBg {
     @include bg.backgroundGlass(rgba(29, 20, 97, 0.9));
}

.network_barBg_glass {
     @include bg.backgroundGlass(rgba(27,28,77,255));
}

.profile_quest_glass {
     @include bg.backgroundGradient(linear-gradient(0.5turn, #0e1020 30%, #384875));
}

.avatar_bg_glassGradient {
     @include bg.backgroundGlassWithGradient(linear-gradient(0.5turn, rgba(24,23,51,255) 10%, rgba(24,55,106,255)));
}